html, body{
    font-family: 'Work Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
svg{
    height: 17px;
    width: 17px;
}
path, rect, circle{
    fill: #9a9a9a;
}
.container{
    display: flex;
    height: 100%;
}
.left-container{
    height: 100%;
    background-color: #FAFCFF;
    width: 30%;
    display: flex;
}
.menu-app{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    width: 17%;
    background-color: #F6F8FC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
.left-container img{
    height: 35px;
    width: 35px;
    border-radius: 100%;
}
.middle-container img, .right-container img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
.user img{
    border-radius: 7px;
}
.contact{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-of-container > *{
    margin :2vh;
}
.title{
    padding-top: 3vh;
    color: #296EFF;
    font-size: 3.5vh;
    font-weight: bolder;
}
.searchbar{
    
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1.5vh 3vh;
    border-radius: 7px;
}

.searchbar input{
    width: 100%;
    border: none;
    background-color: #f1f1f1;
    margin-left: 1vh;
    color:#9a9a9a;
}

.message-group{
    display: flex;
    flex-direction: column;
}
.message-type{
    font-size: small;
    display: flex;
    align-items: center;
    color: #9a9a9a;
}
.message-type > *{
    margin-left: 1vh;
}
.contact-list{
    display: flex;
    flex-direction: column;
}
.contact-info, .contact-img, .contact-name-time, .contact-text-noti{
    display: flex;
    align-items: center;
}
.contact-info{
    margin-top: 2.8vh;
}
.contact-img{
    width: 20%;
}
.contact-data{
    width: 80%;
}
.contact-name-time, .contact-text-noti{
    justify-content: space-between;
}
.contact-name{
    font-weight: bold;
    
}

.contact-text{
    padding-top: 5px;
    font-size: small;
    color: #9a9a9a;
}
.contact-time{
    color: #7e7e7e;
    font-size: small;
}
.count{
    color: white;
    font-size: small;
    border-radius: 100%;
    background-color: rgb(219, 45, 45);
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle-container{
    background-color: #F6F8FC;
    width: 60%;
    border: 2px solid #e3e6f1;
    border-bottom: none;
    height: 100%;
    position: relative;
}

.middle-container > *{
    /* position: absolute; */
    width:100%;

}
.chat-info{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFCFF;
    border-bottom: 2px solid #e3e6f1;
}
.chat-info .contact-name{
    font-size: larger;
}
.group-info{
    width: 85%;
    display: flex;
    align-items: center;
}
.group-info > *{
    margin-left: 2vh;
}

.chat-function{
    display: flex;
    width: 15%;
    justify-content: space-around;
}
.chat-content{
    /* position: absolute; */
    height: 100%;
    overflow-y: scroll;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.line-divider{
    text-align: center; 
    border-bottom: 1px solid #9a9a9a; 
    line-height: 0.1em;
}
.line-divider span{
    background:#F6F8FC;
    color: #9a9a9a;
    padding:0 10px; 
}
.chat-container{
    display: flex;
}
.chat-container > * {
    margin-right: 2vh;
}
.chat-person-content{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chat-person-content-nametime{
    display: flex;
    align-items: center;
}
.chat-person-content-nametime > *{
    margin-right: 2vh;
}
.bubble-option{
    display: flex;
    align-items: center;
}
.bubble{
    font-size: small;
    padding: 0.5vh 2vh;
    margin: 1vh auto auto auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    background-color: #296EFF;
    color: #fff;
}
.bubble p{
    word-break: break-all;
}

.bubble-other{
    background-color: white;
    color: #000;
}
.chat-other .bubble-first{
    border-radius: 0 10px 10px;
}
.me-other .bubble-first{
    border-radius: 10px 0 10px 10px;
}
.bubble img{
    border-radius: unset;
    height: unset;
    width: 200px;
}

.chat-me .chat-container{
    flex-direction: row-reverse;
}
.chat-me .chat-person-content-nametime{
    flex-direction: row-reverse;
}
.chat-me .chat-person-content{
    align-items: flex-end;
}
.chat-me .bubble-option{
    flex-direction: row-reverse;
}
.option{
    margin: auto 1vh;
}

.chat-box{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFCFF;
    border-top: 2px solid #e3e6f1;
    height: 10vh;
}
.chat-box .searchbar{
    width: 100%;
    justify-content: space-between;
    border-radius: 20px;
    
}
.searchbar-right, .searchbar-left{
    display: flex;
    align-items: center;
}
.searchbar-right > * {
    padding-left: 2vh;
}
.right-container{
    /* position: relative; */
    height: 100%;
    background-color: #FAFCFF;
    width: 22%;
    display: flex;
}
.right-container .container-of-container{
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 25vh; */
}
.group > *{
    margin-top: 0.3vh;
}
.group img{
    height: 15vh;
    width: 15vh;
}

.members-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}
.add-members{
    display: flex;
    align-items: center;
    color: #296EFF;
}
.add-members > *, .attachments-type > *{
    margin-left: 2vh;
    font-size: small;
}
.add-members path{
    fill:#296EFF;
}
.members-in-group .contact-info{
    margin-top: 2vh;
    font-size: 1.8vh;
}
.members-in-group .contact-info > *{
    margin-right: 2vh;
}
.attachments-type{
    font-size: small;
    padding-top: 2vh;
    display: flex;
    align-items: center;
}
.attachments-type path{
    fill: #000;
}

